@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Sora";
    src: url(../fonts/Sora-VariableFont_wght.ttf);
}

@theme{
    --font-primary:"Inter";
    --font-secondary:"Sora";
    --color-nav: #F8F9FF;
    --color-nav-link: #414843;
    --color-third: #3E644F;
    --color-white: #FFFFFF;
    --color-secondaryC: #fbf9f1;
    --color-fourth: #C1C8C1;
    --color-fifth: #717973;
    --color-sixth: #FF8F8F;
    --color-seventh: #EFF4FF;
    --color-eighth: #6B7280;
    --color-ninth: #5F5F59;
    --color-tenth: #334155;
    --color-eleventh: #0D1C2F;
    --color-twelfth: #5f8670;
    --color-thirteenth: #567D67;
    --color-fourteenth: #F6FFF6;
    --color-fifteenth: #7E4F51;
    --color-sixteenth: #2563eb;
    --color-seventeenth: #C2ECD2;
    --color-eighteenth: #284E3B;
    --color-nineteenth: #E6EEFF;
    --color-twentieth: #FFDADA;
    --color-twentyOne: #1B1C17;
    --color-twentyTwo: #474742;
    --color-twentyThree: #E4E3DB;
    --color-twentyFour: #DDE9FF;

    --shadow-first: 0px 4px 20px rgba(51,65,85,0.05);
    --shadow-second: 0px 10px 30px rgba(51, 65, 85, 0.12);
    --shadow-third: 0px 0px 0px 8px rgba(194, 236, 210, 1);
    --shadow-fourth: 0px 0px 0px 8px rgba(255, 218, 218, 1);


    --background-image-radial-custom: radial-gradient(171.95% 122.92% at 100% 0%, #C2ECD2 0%, #F8F9FF 100%);
    --background-image-linear-custom: linear-gradient(180deg, rgba(95, 134, 112, 0) 0%, #5F8670 50%, rgba(95, 134, 112, 0) 100%);

    --animate-moveUp: moveUp 700ms cubic-bezier(0.4, 0, 0.2, 1);

    --breakpoint-xs: 390px;
}

@layer base{
    body{
        font-family: var(--font-primary);
    }
    .container{
        @apply mx-auto px-6;
    }
    button{
        cursor: pointer;
    }
    h1{
        font-size: 2rem;
        line-height: 2.4rem;
        font-weight: 700;
        /* font-size: 32px;
        line-height: 41.6px; */
        @variant sm{
            font-size: 3rem;
            line-height: 3.3rem;
            /* font-size: 48px;
        line-height: 52.8px; */
        }
    }
    h2{
        font-size: 2rem;
        line-height: 2.6rem;
        font-weight: 600;
        font-family: var(--font-secondary);
        /* font-size: 32px;
        line-height: 41.6px; */
    }
    h3{
        font-size: 1.5rem;
        line-height: 2.1rem;
        font-weight: 600;
        font-family: var(--font-secondary);
        /* font-size: 24px;
        line-height: 33.6px; */
    }
    h4{
        font-size: 1.5rem;
        line-height: 2.1rem;
        font-weight: 600;
        /* font-size: 24px;
        line-height: 33.6px; */
    }
    h5{
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 700;
        /* font-size: 16px;
        line-height: 24px; */
    }
}

@utility row{
    @apply flex items-center
}

@utility col{
    @apply flex flex-col
}

/*start Navbar section styles*/
@utility glass-nav{
    background-color: rgba(248, 249, 255, 0.7);
    backdrop-filter: blur(12px);
}

@utility nav-link{
    @apply text-xs leading-3 font-semibold tracking-[0.6px] row text-nav-link hover:text-third transition-all duration-150
}

@utility nav-button{
    @apply bg-third py-2.5 px-6 rounded-full shadow-xs hover:opacity-90 active:scale-95 transition-all duration-150
}

@utility nav-button-text{
    @apply text-xs leading-3 font-semibold tracking-[1.2px] text-white text-center
}

@utility image-profile{
    @apply rounded-full border-2 border-solid border-third/20
}
/*end Navbar section styles*/
/*start Register form section styles*/
@utility auth-card{
    @apply bg-white flex flex-col gap-8 p-6 md:p-10 rounded-3xl shadow-first hover:shadow-second
}

@utility top-headers{
    @apply flex text-center border-b border-b-fourth/30
}

@utility login-button{
    @apply pt-[12.5px] md:pt-0 pb-[13.5px] md:pb-[17.59px] uppercase md:normal-case w-1/2 text-[12px] md:text-[24px] leading-3 md:leading-[33.6px] font-semibold md:font-secondary text-ninth/60 md:text-nav-link hover:text-third transition-all duration-150
}

@utility register-button{
    @apply py-3 md:pb-[17.59px] uppercase md:normal-case w-1/2 text-[12px] md:text-[24px] leading-3 md:leading-[33.6px] font-semibold md:font-secondary text-third border-b-2 border-b-third
}

@utility label-reg{
    @apply text-[12px] leading-3 font-semibold text-fifth md:text-nav-link
}

@utility input-reg{
    @apply border border-tenth/20 md:border-fifth/20 rounded-xl w-full py-4 pl-10 pr-4 placeholder:text-eighth md:placeholder:text-fourth focus:outline-none focus:ring-2 focus:ring-twelfth/20 focus:border-twelfth transition-all duration-150
}

@utility signUp-button{
    @apply bg-sixth py-4 rounded-xl text-[16px] md:text-[24px] leading-6 md:leading-[33.6px] font-normal md:font-semibold font-secondary text-white shadow-md hover:brightness-95 active:scale-[0.98] transition-all duration-150
}

@utility social-divider{
    @apply px-3 md:px-4 uppercase text-[12px] leading-4 tracking-[1.2px] font-semibold text-fifth md:text-nav-link
}
@utility social-logins{
    @apply py-3 md:py-3.5 px-[32.1px] md:px-[51.44px] flex gap-2 md:gap-3 border border-fifth/20 rounded-xl hover:bg-seventh transition-all duration-150 active:scale-[0.98]
}
/*end Register form section styles*/
/*start Footer section styles*/
@utility form_footer_links{
    @apply uppercase text-[10px] leading-3.75 tracking-[1px] text-nav-link/60 hover:text-third transition-all duration-150
}

@utility footer-links{
    @apply pt-0.5 pb-px text-[16px] leading-6 text-nav-link hover:text-third hover:underline transition-all duration-150
}

@utility footer-input{
    @apply py-[10.5px] px-4 text-[14px] bg-white border border-fourth/30 rounded-lg 
}
/*end Footer section styles*/

/*start Home page styles*/

/*start Hero section styles*/
@utility hero-buttons{
    @apply rounded-full py-4 px-12 text-[16px] leading-6 text-center font-secondary w-fit
}
@utility first-hero-buttons{
    @apply text-white bg-sixth shadow-first hover:brightness-90 transition-all duration-700 animate-moveUp
}
@utility second-hero-buttons{
    @apply text-twelfth border-2 border-twelfth hover:bg-twelfth/5 transition-all duration-150
}
/*end Hero section styles*/

/*start Properties section styles*/
@utility property-title{
    @apply pt-3.75 pb-[0.59px] text-third
}
@utility property-description{
    @apply text-[14px] leading-5.25 text-nav-link
}
/*end Properties section styles*/

/*start Tools section styles*/
@utility habit-tracker-span{
    @apply text-[10px] leading-3.75 text-nav-link
}
@utility habit-tracker-button{
    @apply text-[12px] leading-3 tracking-[0.6px] font-semibold text-twelfth border border-twelfth/20 rounded-lg py-2 hover:bg-twelfth/5 transition-all duration-150
}
/*end Tools section styles*/

/*end Home page styles*/

/*components*/
@layer components{
    .card{
        @apply rounded-3xl bg-white shadow-first animate-moveUp
    }
    .property_card{
        @apply p-6 col gap-2
    }
    .social-proof-card{
        @apply p-12 col gap-12 
    }
    .credibility_card{
        @apply rounded-xl p-6 flex gap-6 bg-white shadow-first
    }
}

/*animation*/
@keyframes moveUp{
    0%{
        transform: translateY(25%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 100%;
    }
}